<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
{% include 'profiles/css/homepage.css' %}
<style>
    .container-fluid {
        padding: 1% 1% 1%;
        text-align: center;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>


<div class="container-fluid" >
    <font size="6" face="Arial" >
    <table style="width:100% ">
        <tr>
            <th>Name</th>
            <th>Responsibility</th>
            <th>Email</th>
            <th>Phone No.</th>
        </tr>
        <tr>
            <td>Abhi Patel</td>
            <td>Server Issues</td>
            <td>patela80@mail.sacredheart.com</td>
            <td>(860)-522-9462</td>
        </tr>
<!--        <tr>-->
<!--            <td>Abhi Patel</td>-->
<!--            <td>patela80@mail.sacredheart.com</td>-->
<!--            <td>(860)-522-9462</td>-->
<!--        </tr>-->
    </table>
    </font>

</div>
<h3 style="text-align:center;">©Copyright 2020 BeeLove Dating</h3>
</body>
</html>